<div class="row">

    <div class="col-md-12">
        <div class="jumbotron no-padding">
            <div class="row">
                <div class="col-md-10">
                    <h1>Gestion semestrielle
                        <small>
                            <br class="date">{{ semestre.start.formatLocalized('%B %Y')|replace({'January':'Janvier','July':'Juillet','August':'Août','December':'Décembre'}) }} à {{semestre.end.formatLocalized('%B %Y')|replace({'January':'Janvier','July':'Juillet','August':'Août','December':'Décembre'}) }} </small>
                    </h1>
                    <p>{{cat.name}}</p>
                </div>
                <div class="col-md-2">
                    <br>
                    <br>
                    <div class="btn-group btn-group-lg">
                        <a class="btn btn-block btn-warning dropdown-toggle" data-toggle="dropdown"><i class="fa fa-flip-vertical fa-lg fa-star text-inverse"></i> Admin <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu" id="dropdown">
                            <li>
                                <a href="#"><i class="fa fa-plus fa-fw"></i>Seance</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-edit fa-fw"></i>Team</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-edit fa-fw"></i>Paramêtres</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr>
            <div class="col-md-6">
                <p class="text-warning">
                    <small>Prochaine séance: 1er Juillet 2015</small>
                </p>
            </div>
        </div>
        
